# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Node (Frontend)
node_modules/
dist/
.env

# Python (Backend)
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Large Files
*.csv
*.h5
*.pkl
# Note: Usually we upload .h5 and .pkl if they are small, 
# but if they are >100MB, GitHub will block them.